{% extends 'task_tracker/base.html' %} {% block content %}
<h1>Submission type: {{submission_type}}</h1>
<h2>Submit Work for Task: {{ task.title }}</h2>
<p><strong>Task ID:</strong> {{ task.id }}</p>
<p><strong>Description:</strong> {{ task.description }}</p>
<p><strong>Due Date:</strong> {{ task.due_date }}</p>
<p>
  <strong>Status:</strong> {% if task.completed %} Completed✅ {% else %} Not
  complete❌ {% endif %}
</p>
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Submit</button>
</form>

<a href="{% url 'task_tracker:task_list' %}">← Back to Task List</a>

{% endblock %}
